In [ ]:
# Week 7 - Data Manipulation
# data cleaning: missing variables and duplicates

In [29]:
# import neccesary libraries
import pandas as pd

# import data
df = pd.read_csv("Updated_Drug_Dataset_with_Real_Dates.csv")
df

,Drug_ID,Drug_Name,Manufacturer,Dosage_mg,Form,Approval_Year,Price_USD,Side_Effects,Is_Generic,Country
0,D00000,Amoxinil,CureAll,NaN,Syrup,NaN,26.02,Allergy,False,Germany
1,D00001,Loratamed,CureAll,500.0,Tablet,2012-07-01,41.19,NaN,False,India
2,D00002,Cetrazin,NaN,250.0,Syrup,2009-07-01,81.80,Nausea,True,NaN
3,NaN,Loratamed,CureAll,100.0,Tablet,2004-07-01,83.24,Headache,True,NaN
4,NaN,Loratamed,Wellness Inc.,1000.0,NaN,2018-07-01,NaN,Nausea,NaN,UK
...,...,...,...,...,...,...,...,...,...,...
1095,D00755,NaN,MediLife,NaN,Syrup,2008-07-01,70.71,Drowsiness,False,Germany
1096,NaN,Ibupromol,PharmaCorp,1000.0,Injection,2007-07-01,53.72,Drowsiness,True,Canada
1097,NaN,Cetrazin,HealthPlus,750.0,Tablet,2007-07-01,44.01,Headache,True,Canada
1098,D00583,NaN,MediLife,NaN,Tablet,2014-07-01,68.69,NaN,True,India
1099,D00324,Paracetin,MediLife,250.0,Tablet,1993-07-01,NaN,Headache,True,Germany

In [11]:
# check for missing values
print(df["Full_Name"].isnull().sum())

0

In [15]:
# calc percentage of missing data
print(df.isnull().mean()*100)

Customer_ID       0.000000
Full_Name         0.000000
Gender            0.196850
Age               0.000000
State             0.000000
Insurance_Type    0.393701
Claim_Amount      0.000000
Claim_Status      0.590551
Claim_Date        0.000000
Payment_Method    0.393701
dtype: float64

In [17]:
# calc cum of missing data
print(df.isnull().sum())

Customer_ID       0
Full_Name         0
Gender            1
Age               0
State             0
Insurance_Type    2
Claim_Amount      0
Claim_Status      3
Claim_Date        0
Payment_Method    2
dtype: int64

In [ ]:
# Dropping missing numbers/values (NEVER DO THIS OR SAY YOU WOULD DO THIS IN AN INTERVIEW - INSTANT FAIL!!!!!!!!!!!)
df_clean = df.dropna()
# df_clean

In [21]:
# check for missing values
print(df["Claim_Status"].isnull().sum())

3

In [27]:
# fill in missing (Claim_Status with the mean)
# df["Claim_Status"] = df["Claim_Status"].fillna(df["Claim_Status"].mean()*100, inplace=True)

In [ ]:
# Sorting data
df_Sort_Claims_Status =